In [1]:
numero1 = 70

if numero1 > 45:
    print("Numero mayor")
else:
    print("Numero menor")

Numero mayor

In [3]:
if 1 < 2:
    pass

In [4]:
def mi_funcion():
    pass

In [5]:
mayor_edad = True
tiene_bigote = False

In [6]:
mayoria_edad = 18
altura = 1.72

In [7]:
frase = "Anita lava la tina"

#Lista

In [9]:
lista_vacia = [] #asi se crea una lista
gatos = ["Garfield", "Silvestre", "Hello Kitty"]
print(gatos[2])

Hello Kitty

In [10]:
gatos[1] = "Tom"
gatos.append("Felix")
print(gatos)

['Garfield', 'Tom', 'Hello Kitty', 'Felix']

In [11]:
gatos.pop()
print(gatos)

['Garfield', 'Tom', 'Hello Kitty']

In [12]:
gatos.pop(1)
print(gatos)

['Garfield', 'Hello Kitty']

In [28]:
lista_vacia = []
lista_compras = ["Leche", "Pan", "Carne", "Pollo", "Queso"]

In [29]:
lista_especial = [1,2, ["uno", "dos", ["tres", "cuatro"]]]

In [38]:
print(lista_especial)

[1, 2, ['uno', 'dos', ['tres', 'cuatro']]]

In [43]:
cajonera = ["pantalones", "camisetas", "calcetines"]

print(cajonera[0]) #Accedemos al cajón con índice 0. Imprime: "pantalones"
print(cajonera[1]) #Accedemos al cajón con índice 1. Imprime: "camisetas"
print(cajonera[2]) #Accedemos al cajón con índice 2. Imprime: "calcetines"

cajonera[1]= 'sueters'
cajonera.append("vestidos")
 #Cambiamos el valor del cajón con índice 1

print(cajonera) #Imprime: ['pantalones', 'sueters', 'calcetines']

pantalones
camisetas
calcetines
['pantalones', 'sueters', 'calcetines', 'vestidos']

In [44]:
lista_grande = [2, 4, 6, 8, 10, 12, 14, 16]

print(lista_grande[3:]) #Imprime:[8, 10, 12, 14, 16]
print(lista_grande[:6]) #Imprime:[2, 4, 6, 8, 10, 12]
print(lista_grande[3:6]) #Imprime:[8, 10, 12]

[8, 10, 12, 14, 16]
[2, 4, 6, 8, 10, 12]
[8, 10, 12]

In [62]:
lis = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
lis[0] = "0.5"
print(lis) #Imprime: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

['0.5', 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [54]:
frozen = ["Elsa", "Anna", "Olaf"]
frozen.pop(2) #Sintaxis: nombre_lista.funcion()

print(frozen) #Imprime: ['Elsa', 'Anna']

['Elsa', 'Anna']

#Tupla

In [65]:
gattin = ("garfield", "silvestre", "hello kitty")
print(gattin)

('garfield', 'silvestre', 'hello kitty')

In [73]:
gattin = gattin+ ("garfield2",)
print(gattin)

('garfield', 'silvestre', 'hello kitty', 'garfield2', 'garfield2', 'garfield2', [0], 'garfield2')

In [21]:
perro = ("Scooby Doo", "Gran Danés", "Scooby Galletas", 7)
print(perro[1]) #Imprime: Scooby Doo

Gran Danés

In [16]:
perro[2] = "comida de perro"

TypeError: 'tuple' object does not support item assignment

In [55]:
tupla_letras = ("a", "e", "i", "o", "u")
tupla_sin_parentesis = "a", "e", "i", "o", "u"

In [56]:
gato = ("Miu", 5, "persa", False)

In [58]:
print(gato[1]) #Imprime: Miu

5

In [63]:
gato = gato + ("4.1",)
print(gato) #Imprime: ('Miu', 5, 'persa', False, '4.1')

('Miu', 5, 'persa', False, '4.1')

In [64]:
def suma_multiplicacion(x, y):
   suma = x + y
   multiplicacion = x * y
   return (suma, multiplicacion)

#diccionario

In [109]:
estudiante = {"nombre": "Gonzalo", "curso": "Python"} #Notación Literal
paises = {} #Diccionario vacío
paises["MEX"] = "México" #Agregando valores
paises["COL"] = "Colombia"
paises["CHL"] = "Chile"

In [88]:
paises

{'MEX': 'México', 'COL': 'Colombia', 'CHL': 'Chile'}

In [93]:
print(estudiante["curso"])

Python

In [94]:
estudiante["nombre"] = "guillemo"
print(estudiante["nombre"]) #Imprime: Vicente

guillemo

In [27]:
diccionario_vacio = {}
persona = {'nombre': 'Carmen', 'edad': 31, 'altura': 1.71, 'usa_lentes': False}
persona['nombre'] = 'Valeria'  # Actualiza si el valor de la llave existente
persona['hobbies'] = ['jugar videojuegos', 'programación'] # Agrega esa clave-valor si no existía previamente

print(persona) # Imprime: {'nombre': 'Carmen', 'edad': 31, 'altura': 1.71, 'usa_lentes': False, 'hobbies': ['jugar videojuegos', 'programación']}

altura = persona.pop('altura')  # Elimina la clave indicada y devuelve el valor
print(altura) # Imprime: 1.71
print(persona) # salida: {'nombre': 'Carmen', 'edad': 31, 'usa_lentes': False, 'hobbies': ['jugar videojuegos', 'programación']}

{'nombre': 'Valeria', 'edad': 31, 'altura': 1.71, 'usa_lentes': False, 'hobbies': ['jugar videojuegos', 'programación']}
1.71
{'nombre': 'Valeria', 'edad': 31, 'usa_lentes': False, 'hobbies': ['jugar videojuegos', 'programación']}

In [110]:
if "CRI" in paises: #Preguntamos si existe la clave en el diccionario
   print("¿Deseas reemplazar el valor?")
else: #No existe esa clave
   paises["CRI"] = "Costa Rica"

In [111]:
paises

{'MEX': 'México', 'COL': 'Colombia', 'CHL': 'Chile', 'CRI': 'Costa Rica'}

In [112]:
valor_removido = paises.pop("MEX") #Elimina el elemento y devuelve su valor
del paises["COL"] #Elimina el elemento directamente (¡NO RECOMENDADO!)
print(paises) #Imprime: {'CHL': 'Chile'}

{'CHL': 'Chile', 'CRI': 'Costa Rica'}

In [113]:
intor = { "nombre": "Frida Kahlo", "pais": "México", "fecha_nacimiento": "6 de julio de 1907"}

In [114]:
pintor = {
   "nombre": "Frida Kahlo",
   "pais": "México",
   "fecha_nacimiento": "6 de julio de 1907"
}

In [121]:
YO = {
    "nombre" : "guillermo",
    "edad" : 27,
    "curso" : "Python",
}

In [123]:
YO

{'nombre': 'guillermo', 'edad': 27, 'curso': 'Python'}

In [124]:
escuela = {
   "nombre": "Coding Dojo LATAM",
   "profesores": [
       {"nombre": "Alfredo", "apellido": "Salazar", "cursos": ["Python", "Java"]},
       {"nombre": "Valeria", "apellido": "Romero", "cursos": ["Fundamentos", "Java"]},
       {"nombre": "Marcelo", "apellido": "Argotti", "cursos":["MERN", "Python"]}
   ]
}

In [125]:
# Lista de temperaturas diarias
temperaturas = [22.5, 21.0, 23.3, 25.2, 24.5]
media_temperatura = sum(temperaturas) / len(temperaturas)
print("Temperatura media:", media_temperatura)

Temperatura media: 23.3

In [126]:
# Coordenadas geográficas de una ubicación
coordenadas = (19.4326, -99.1332)  # Latitud y longitud de Ciudad de México

def calcular_distancia(coord1, coord2):
    # Implementación ficticia para calcular la distancia
    distancia = 10  # Solo un valor de ejemplo
    return distancia

distancia = calcular_distancia(coordenadas, (34.0522, -118.2437))
print("Distancia:", distancia)

Distancia: 10

In [127]:
# Diccionario con información sobre un conjunto de datos
dataset_info = {
    "nombre": "Datos de ventas",
    "columnas": ["fecha", "producto", "cantidad", "precio"],
    "filas": 1000,
    "fuente": "Sistema de ventas interno"
}

print("Nombre del conjunto de datos:", dataset_info["nombre"])
print("Número de filas:", dataset_info["filas"])

Nombre del conjunto de datos: Datos de ventas
Número de filas: 1000

In [144]:
num = 20

if num > 100:
   print("Número mayor a 100")
elif num > 50:
   print("Número mayor a 50")
else:
   print("Número menor a 10")

Número menor a 10

In [145]:

'''
A pesar de que num es mayor que 50 y 100, la primera condicional que se cumpla es la única que se ejecutará.
Es por eso que solo imprimirá: "Número mayor a 50"
'''

if num < 50:
   print("Número menor a 50")
#No se cumple con la condicional, por lo que no se ejecuta el bloque de código

Número menor a 50

In [86]:
# 1. Imprime "Hola, mundo"
print("Hola, mundo")

# 2. Imprime "Hola, Valeria" con el nombre en una variable
nombre = "Valeria"
print("Hola,",nombre,"!") # con una coma
print( "Hola, " + nombre + "!" ) # con un +


# 3. Imprimir "Hola 156!" con el número en una variable
numero = 156
print("Hola",str(numero),"!") # con una coma
print("Hola" + str(numero)+"!") # con un + -- este debería arrojar un error!, corrígelo con conversión

# 4. Imprimir "Me encanta comer tacos y arepas" con las comidas en variables
comida1 = "tacos"
comida2 = "arepas"
print("Me encanta comer {} y {}".format(comida1, comida2))
print(f"Me encanta comer {comida1} y {comida2}!")

Hola, mundo
Hola, Valeria !
Hola, Valeria!
Hola 156 !
Hola156!
Me encanta comer tacos y arepas
Me encanta comer tacos y arepas!

#bucle

In [160]:
for i in range(35,0,-5):
    print(i)

35
30
25
20
15
10
5

In [168]:
for letra in 'Python':
   print(letra)
#Imprime: 'P', 'y', 't', 'h', 'o', 'n'

P
y
t
h
o
n

In [170]:
lista = ['brócoli', 'pepino', 'pimiento','pollo', 'ajo']

for i in range( len(lista) ):
   print(i, lista[i])
#Imprime: 0 brócoli, 1 pepino, 2 pimiento

for verdura in lista:
   print(verdura)
#Imprime: brócoli, pepino, pimiento

0 brócoli
1 pepino
2 pimiento
3 pollo
4 ajo
brócoli
pepino
pimiento
pollo
ajo

In [171]:
tupla = ('fresa', 'manzana', 'cereza')

for i in range( len(tupla) ):
   print(i, tupla[i])
#Imprime: 0 fresa, 1 manzana, 2 cereza

for fruta in tupla:
   print(fruta)
#Imprime: fresa, manzana, cereza

0 fresa
1 manzana
2 cereza
fresa
manzana
cereza

In [174]:
estudiante = {"nombre": "Gonzalo", "curso": "Python"}

for clave in estudiante:
   print(clave)
#Imprime: nombre, curso

nombre
curso

In [175]:
estudiante= {"nombre": "Gonzalo", "curso": "Python"}

for clave in estudiante:
   print(estudiante[clave])

Gonzalo
Python

In [182]:
platillos_tipicos = {"México": "Tacos", "Colombia": "Ajiaco", "Costa Rica": "Casado"}

#Otra forma de iterar a través de las claves
for clave in platillos_tipicos.keys():
   print(clave)
#Imprime: México, Colombia, Costa Rica


#Iteramos a través de los valores
for valor in platillos_tipicos.values():
   print(valor)
#Imprime: Tacos, Ajiaco, Casado

#Iteramos a través de los elementos (clave-valor)
for clave, valor in platillos_tipicos.items():
   print(clave, "=", valor)
#Imprime: México = Tacos, Colombia = Ajiaco, Costa Rica = Casado

México
Colombia
Costa Rica
Tacos
Ajiaco
Casado
México = Tacos
Colombia = Ajiaco
Costa Rica = Casado

In [193]:
num = 0

while num < 4:
   print("bucle while -", num)
   num += 1
#Imprime: bucle while - 0, bucle while - 1, bucle while - 2, bucle while - 3

bucle while - 0
bucle while - 1
bucle while - 2
bucle while - 3

In [194]:
num = 0

while num < 4:
   print("bucle while -", num)
   num += 1
else:
   print("Acabamos de salir del bucle")

bucle while - 0
bucle while - 1
bucle while - 2
bucle while - 3
Acabamos de salir del bucle

In [197]:
for letra in "detennnnn6te":
   if letra == "6":
       break
   print(letra)
#Imprime: d, e, t, e

d
e
t
e
n
n
n
n
n

In [198]:
for letra in "detente455555":
   if letra == "4":
        continue
   print(letra)
#Imprime: d, e, t, e, t, e

d
e
t
e
n
t
e
5
5
5
5
5

In [200]:
x = 6

while x > 2:
   print(x)
   x -= 1
   if x == 6:
       break
else: #Recuerda: Solo se ejecuta en una salida normal, NO en un break
   print("Sentencia final")

6
5
4
3
Sentencia final